@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bgcolor--);
}
:root {
  --bgcolor--: #f3f4f6;
  --textcolor--: #374151;
  --bgtextcolor--: #dcdee2;
}
.table-container {
  overflow: auto;
  position: relative;
  margin-top: 1rem;
  width: 91%;
  height: 300px;
  left: 6.8%;
}

.table-container table {
  border: 3px solid #000000;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

.table-container caption {
  caption-side: top;
  text-align: left;
}

.table-container th {
  border: 3px solid #030303;
  background-color: var(--bgcolor--);
  color: #000000;
  padding: 5px;
}
.table-container td {
  border: 3px solid #030303;
  background-color: var(--bgcolor--);
  color: #000000;
  padding: 5px;
}
.table-container td .edit {
  background-color: #38e710;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
.table-container td .delete {
  background-color: #e71010;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
.table-container td img {
  width: 80%;
  height: 130px;
  border-radius: 5px;
}
.table-container td .form-file {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 20px;
  
}
.table-container td .form-file input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.table-container td .form {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 75px;
}
.table-container td .form input {
  margin-top: 0.2rem;
  padding-left: 10px;
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: #000000;
}

