@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bgcolor--);
}
:root {
  --bgcolor--: #f3f4f6;
  --textcolor--: #374151;
  --bgtextcolor--: #dcdee2;
}
.form-text {
  display: flex;
  justify-content: end;
  margin-right: 2.25%;
  margin-top: 0.5rem;
  width: auto;
}
.form-text h3 {
  display: flex;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 0.5rem;
  width: auto;
}
.form-container form {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  margin-right: 2.25%;
}
.form-container form input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}
.form-container form input {
  border-radius: 10px;
  border: 3px solid var(--textcolor--);
  margin: 0;
  background-color: var(--bgcolor--);
}
.form-container form button {
  background-color: #084cdf;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 100px;
}
.table-container {
  overflow: auto;
  position: relative;
  margin-top: 1rem;
  width: 90%;
  left: 8.5%;
}

.table-container table {
  border: 3px solid #000000;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

.table-container caption {
  caption-side: top;
  text-align: left;
}

.table-container th {
  border: 3px solid #030303;
    background-color: var(--bgcolor--);
  color: #000000;
  padding: 5px;
}

.table-container td {
  border: 3px solid #030303;
  background-color: var(--bgcolor--);
  color: #000000;
  padding: 5px;
}
.table-container td .edit {
  background-color: #38e710;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
.table-container td .delete {
  background-color: #e71010;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
.table-container td img {
  width: 80%;
  height: 130px;
  border-radius: 5px;
}
